<div ng-if="item.icon" class="ez-icon" style="background-image:url('{{item.icon}}')" ng-click="goDetail(item)"></div>
<a ng-href="#/detail/{{item.business_id}}">{{formatName(item.name)}}</a>
<p>{{item.address}}</p>
<a ng-href="{{item.icon}}">{{item.icon}}</a>
<p>{{item.tel}}</p>

<hr/>

<div scrollable class="list-group" show-scrollbar="true" class="list-group">
	<li ng-repeat="review in reviews" class="list-group-item">
		<p>{{review.user_nickname}}&nbsp;&nbsp;{{review.created_time}}</p>
		<p>{{review.text_excerpt}}</p>
	</li>
</div>