<a ng-if="item.icon" class="bus-pic" style="background-image:url('{{item.icon}}')" ng-href="{{item.icon}}"></a>
<a ng-href="#/detail/{{item.business_id}}">{{formatName(item.name)}}</a>
<p><a ng-href="{{item.address}}">{{item.address}}</a></p>
<p><a ng-href="{{item.tel}}">{{item.tel}}</a></p>
<hr/>

<div scrollable class="list-group" show-scrollbar="true" class="list-group">
	<li ng-repeat="review in reviews" class="list-group-item">
		<p>{{review.user_nickname}}&nbsp;&nbsp;{{review.created_time}}</p>
		<p>{{review.text_excerpt}}</p>
	</li>
</div>